.title{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

table{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

i.icon-red {
  color: red;
}

