<body>
<form [formGroup]="studentForm" (ngSubmit)="updateStudent()">
  <div class="heading">Enroll Student</div>
  <div class="left">
    <label>Name</label>
    <div class="form-group">
      <div class="example-container">
        <input type="text" formControlName="name" id="name"  placeholder="name" required [(ngModel)]="student.name"/>
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="alert alert-danger" *ngIf="studentForm.get('name').hasError(validation.type) && (studentForm.get('name').dirty || studentForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <label>Address</label>
    <div class="form-group">
      <div class="example-container">
        <input type="text" id="address" formControlName="address" placeholder="address" required [(ngModel)]="student.address">
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.address">
          <div class="alert alert-danger" *ngIf="studentForm.get('address').hasError(validation.type) && (studentForm.get('address').dirty || studentForm.get('address').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <label>Work Phone</label>
    <div class="form-group">
      <div class="example-container">
        <input type="text" id="phoneWork" formControlName="phoneWork" placeholder="number" required [(ngModel)]="student.phones[0].value">
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phoneWork">
          <div class="alert alert-danger" *ngIf="studentForm.get('phoneWork').hasError(validation.type) && (studentForm.get('phoneWork').dirty || studentForm.get('phoneWork').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <label>Home Phone</label>
    <div class="form-group">
      <div class="example-container">
        <input type="text" id="phoneHome" formControlName="phoneHome" placeholder="number" required [(ngModel)]="student.phones[1].value">
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phoneHome">
          <div class="alert alert-danger" *ngIf="studentForm.get('phoneHome').hasError(validation.type) && (studentForm.get('phoneHome').dirty || studentForm.get('phoneHome').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <button id="enroll" class="btn btn-primary" type = "submit" [disabled]="!studentForm.valid">Update</button>
    </div>
  </div>
</form>
</body>
